.flex {
  display: flex;
  flex-wrap: wrap;
}

.full-height {
  height: 100%;
}

.center-button {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  font-size: 32px;
}

.big-icon i {
  font-size: 3rem;
}

body, html {
  height: 100%;
}

#main-image {
  padding: 32px;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

#compact-image {
  margin: auto;
  padding: 32px;
  max-width: 66%;
  height: auto;
  width: auto\9; /* ie8 */
}

.waves-effect.waves-light-red .waves-ripple {
   background-color: #ffffff70;
 }

.waves-light-red {
  background-color: #f44336;
}

.waves-light-red:hover {
  background-color: #e53935
}

.waves-light-red:visited {
  background-color: #f44336 
}

.waves-light-red:active {
  background-color: #f44336 
}

.waves-light-red:focus {
  background-color: #f44336 
}